{% extends 'padre.html' %}


{% block contenidoquecambia %}

    <h1>Titulo del Inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi sint, dicta nam nostrum quia doloremque nemo, dolorum aspernatur vero perspiciatis nobis! Pariatur nesciunt earum quis, ipsam eos totam necessitatibus rerum.
    Doloribus, totam reprehenderit. Sequi architecto voluptatum, sit ullam vel optio debitis perspiciatis alias expedita! Temporibus aliquid beatae harum cum, atque officiis neque facilis? Debitis possimus deserunt ducimus saepe, quae maxime?
    Quaerat doloremque, qui accusantium nulla ad iusto aliquid debitis dolorem sequi possimus nesciunt laudantium, cupiditate error aspernatur voluptatem corporis cumque, enim veritatis impedit temporibus aut quidem illo. Voluptatibus, ipsam ullam.
    A modi quasi veritatis dicta laudantium accusamus quaerat eaque quod doloremque, eius consequatur? Laborum nobis quod perferendis ratione, tempora inventore veritatis reiciendis, voluptate ab ex nihil expedita. Accusantium, sapiente facere!
    Non inventore porro mollitia repellendus in iste laudantium enim? Quam quaerat qui ipsam, nulla sequi temporibus molestias rem accusamus voluptas magni quisquam exercitationem deserunt? Cupiditate voluptates reiciendis deleniti ipsa amet!</p>
    
{% endblock contenidoquecambia %}
    