        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Inicio</a>
                <a class="navbar-brand" href="{% url 'Registro' %}">Registro</a> 
                <a class="navbar-brand" href="{% url 'Catalogo' %}">Catalogo</a>
                <a class="navbar-brand" href="{% url 'Entrega' %}">Buscar</a>
                <a class="navbar-brand" href="{% url 'Opiniones' %}">Deja tu opinion</a>
            </div>
        </nav>